* {
  user-select: none;
}

.app {
  height: 100svh;
  overflow-y: scroll;
  padding-right: 20px;
  background: linear-gradient(135deg, #60baff 0%, #11a78b 110%);
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  margin: 7svh 0 0 0;
}
