* {
  user-select: none;
}

.app {
  height: 100svh;
  overflow-y: auto;
  background: linear-gradient(135deg, #60baff 0%, #11a78b 110%);
}

.body {
  margin-top: 6svh;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  margin: 7svh 0 0 0;
}
