:root {
  --primary-color: #60baff;
  --secondary-color: #226d5c;

  --hover-color: #88cbff;
  --hoverBackground-color: #184b3f;
}

.header {
  /* set the logo to be in the middle */
  position: fixed;
  top: 0;
  width: 100svw;
  height: 5svh;
  background-color: var(--secondary-color);
  align-items: center;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.userName {
  color: var(--primary-color);
  font-size: 3svh;
  padding-left: 1.5svw;
}

.logo {
  color: var(--primary-color);
  font-size: 3svh;
  font-weight: bold;
  font-style: italic;
}

.theme {
  color: var(--primary-color);
  font-size: 3svh;
  padding: 0.75svh;
  margin-right: 1svw;
  border-radius: 50%;
  transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.theme:hover {
  cursor: pointer;
  animation: changeColors;
  color: var(--hover-color);
  background-color: var(--hoverBackground-color);
}
