.card {
  width: 12.5svw;
  border-radius: 10px;
  margin: 0 2svh 2.5svh 1svh;
  background-color: #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.card:hover {
  cursor: pointer;
  filter: brightness(115%);
}

.card:active > .card-image img {
  filter: blur(5px);
}

.card-image img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
}

.card-body {
  padding: 10px 5px 5px 5px;
  border-radius: 0 0 8px 8px;
}

.card h2 {
  margin: 0;
  font-size: 2svh;
  font-weight: bold;
}

.card h2,
.phoneNumber {
  text-align: center;
}

.phoneIcon {
  margin-right: 0.3svw;
}
